extends base

block content 
    form(method="POST")
        input(name="email", type='email',requried)
        input(name="username", type='text',requried)
        input(name="password", type='password',requried)
        input(name="name", type='text',requried)
        input(name="location", type='text')
        input(type='submit',value='Join')